@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

p {
    margin: 0;
}

.container {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-height: 800px;
    padding: 1rem;
    border-radius: 20px;
    margin: auto;
    margin-top: 5rem;
}

.user_info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    color: #79a83d;
    font-size: 1.5rem;
}

.user_info > i {
    font-size: 2.5rem;
    margin-right: .5rem;
    color: black;
}

.abas {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}

.botao_jogo {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 1rem;
    background: none;
    border: none;
    border-bottom: 5px solid #79a83d;
    color: #79a83d;
}

.botao_missoes {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 1rem;
    background: none;
    border: none;
    border-bottom: 5px solid #cecece;
    color: #79a83d;
}

.rentabilidade {
    display: flex;
    flex-direction: row;
    min-height: 3rem;
    border-radius: 20px;
    background-color: #f4f4f4;
    box-shadow: 0px 1px 20px 0px rgb(0 0 0 / 20%);
    margin-bottom: 1rem;
}

.rent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.rent > p:first-child {
    font-weight: bold;
    margin-bottom: 0;
    color: gray;
}

.rent > p:not(:first-child) {
    font-weight: bold;
    font-size: 1.5rem;
    color: #79a83d;
}

.separador {
    width: 2px;
    height: 6rem;
    background-color: #cecece;
    align-self: center;
}

.fundos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.fundos > p:first-child {
    font-weight: bold;
    margin-bottom: 0;
    color: gray;
}

.fundos > p:not(:first-child) {
    font-weight: bold;
    font-size: 1.5rem;
    color: #79a83d;
}

.jogar {
    display: flex;
    flex-direction: column;
    background-color: #79a83d;
    border-radius: 20px;
    color: #f4f4f4;
    padding: 1rem;
    box-shadow: 0px 1px 20px 0px rgb(0 0 0 / 20%);
    margin-bottom: 1rem;
}

.jogar_topo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.jogar_topo > p {
    margin: 0;
}

.jogar > p {
    margin: .6rem 0 .6rem 0;
}

.jogar_topo > button {
    min-width: 6rem;
    min-height: 2rem;
    background-color: #f4f4f4;
    border: none;
    border-radius: 20px;
    color: #79a83d;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.barra_progresso {
    min-height: 5px;
    border-radius: 20px;
    background-color: #cecece;
}

.barra_progresso_preench {
    border-radius: 20px;
    min-height: 5px;
    background-color: #f4f4f4;
    width: 30%;
}

.ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #445992;
    color: #f4f4f4;
    padding: .5rem;
    box-shadow: 0px 1px 20px 0px rgb(0 0 0 / 20%);
}

.primeiro_ranking {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    border-radius: 20px;
    background-color: #2f4c8d;
    padding: .5rem;
    margin-bottom: .5rem;
}

.primeiro_ranking > i {
    font-size: 2.5rem;
}

.segundo_ranking > i {
    font-size: 2.5rem;
}

.ranking_pontuacao > p {
    margin: 0;
}

.nome_bandeira > p {
    margin: 0;
}

.nome_bandeira {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ranking_pontuacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pontuac {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
}

.ranking_fundos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.segundo_ranking {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    border-radius: 20px;
    background-color: #607EBF;
    padding: .5rem;
    margin-bottom: .5rem;
}

.ver_ranking {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-right: 1rem;
}

.ver_ranking > p {
    margin-right: 10px;
}

/* TELA DE MISSÕES */
#missoes-container {
    display: none;
}

.missoes_container {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-height: 800px;
    padding: 1rem;
    border-radius: 20px;
    margin: auto;
    margin-top: 5rem;
}

.clinicas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.clinicas > .text {
    margin-top: 1.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #808080;
}

.square {
    display: flex;
    width: 90%;
    max-height: 100px;
    margin-top: 1rem;
    cursor: pointer;
    transform: scale(.9);
    transition: .4s;
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 20%);
}

.square:hover {
    transform: scale(1);
}

.square:hover .thumb-title {
    background-color: #00000090;
}

.thumbnail {
    max-width: 100%;
    object-fit: cover;
}

.thumb-title {
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000060;
    letter-spacing: 3px;
}

.thumb-title span {
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    color: #f1f1f1;
    opacity: 0;
    transform: scale(1.5);
    transition: .4s;
}

/* TELA DO JOGO DE PERGUNTAS */
.pergunta_container {
    display: none;
    background: #242424;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    min-height: 800px;
    max-width: 400px;
    margin: auto;
    padding: 1rem;
    margin-top: 5rem;
}

.pergunta_topo {
    color: #f4f4f4;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 1rem;
    width: 90%;
}

.pergunta_topo > i {
    font-size: 2rem;
}

.valor {
    font-weight: bold;
}

.titulo {
    font-size: .8rem;
}

.pergunta_contador {
    text-align: center;
    color: #f4f4f4;
    font-size: .8rem;
    margin-bottom: 1rem;
}

.pergunta_enunciado {
    text-align: center;
    color: #f4f4f4;
    padding: 1rem;
    width: 75%;
    background-color: #a92e28;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.pergunta_divisor {
    margin-top: 1rem;
    margin-bottom: .5rem;
    height: 2px;
    background: #cecece;
}

.pergunta_valor {
    text-align: center;
    color: #f4f4f4;
    padding: 1rem;
    width: 75%;
    background-color: #2f4c8d;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 2rem;
}

.respostas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sim {
    background: #79a83d;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.25);
    width: 132px;
    line-height: 49px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border: 0;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
    color: #FFF;
    outline: none;
    position: relative;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.nao {
    background: red;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.25);
    width: 132px;
    line-height: 49px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border: 0;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
    color: #FFF;
    outline: none;
    position: relative;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.contador {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    background: #FFA80D;
    border: 2px solid #7B5003;
    color: #7B5003;
    text-align: center;
    font-size: 29px;
    font-weight: 700;
    position: absolute;
    align-self: center;
    justify-self: center;
}

.pergunta_utilit {
    margin-top: .8rem;
    margin-right: 1rem;
    align-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    color: #f4f4f4;
}

.fa-xmark {
    margin-left: .5rem;
    font-size: 1.4rem;
    cursor: pointer;
}